<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Set Password Baru</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <section class="h-100 gradient-custom" style="background-color: #8fc4b7; min-height: 100vh;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-6">
                    <div class="card rounded-3">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 text-center">Password Baru</h3>

                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            <form method="POST" action="{{ url_for('reset_token', token=token) }}">
                                <div class="form-outline mb-4">
                                    <label class="form-label">Password Baru</label>
                                    <input type="password" class="form-control" name="password" required/>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Konfirmasi Password Baru</label>
                                    <input type="password" class="form-control" name="confirm_password" required/>
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-success btn-block fa-lg mb-3" type="submit">Ubah Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>