{% extends "user/base_user.html" %}

{% block title %}Homepage - Ronde 168{% endblock %}

{% block content %}
<!-- Header-->
<header class="bg-pink py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Warung Ronde 168</h1>
            <p class="lead fw-normal text-white-50 mb-0">Nikmati hangatnya wedangan malam hari</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for row in hasil %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ url_for('static', filename='img/Makanan/' + row[3]) }}"
                        alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ row[1] }}</h5>
                            <!-- Product price-->
                            {{ row[2] }}<br>

                            Stok <strong>{{ row[5] }}</strong>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{{ url_for('user_detail', id=row[0]) }}">View detail</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                        <div class="text-center">
                            <form action="{{ url_for('add_to_cart', id=row[0]) }}" method="POST">
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <button type="button" class="btn btn-primary px-3 me-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
                                    <input id="jumlah_{{ row[0] }}" name="jumlah" value="1" type="number"
                                        class="form-control" min="1" />
                                    <button type="button" class="btn btn-primary px-3 ms-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
                                </div>
                                <button class="btn btn-outline-dark mt-2" type="submit">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Footer -->
{% endblock %}